********************************************************************
  Authorised use only.

  This system is the property of {{ platform_name | upper }} and is
  provided for authorised business use. All activity on this system
  is monitored, logged and subject to audit.

  Disconnect now if you are not an authorised user.
********************************************************************
